
$table-border: $gray-lightest;

.table {
  background-color: $white;
  border-radius: 0.25rem;
  border-spacing: 0;
  width: 100%;
  border-collapse: collapse;
}

.table__title {
  text-align: left;
  padding: $space;

  .h2 {
    color: $black;
    font-weight: 600;
  }

  @include medium {
    padding: $space-double $space;
  }
}

.table__heading {
  display: none;
  text-align: left;

  & .table__cell { 
    padding: $space;
    color: $black;
  };

  @include medium {
    display: table-row;
  }
}

.table__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $gray;
  
  @include medium {
    display: table-row;
  }
}

.table__heading, .table__row {
  border-bottom: 1px solid $gray-lightest;
}

.table__row .table__cell {
  padding: $space;

  &:first-of-type {
    color: $black;
    font-weight: 600;

    @include medium {
      color: $gray;
      font-weight: normal;
    }
  }
}

/* TODO: BEM selectors should be applied to wysiwyg-created content */

.text-long {
  table {
    @extend .table;
  }

  td {
    @extend .table__cell;
  }

  tr {
    @extend .table__row;
  }
}
