@mixin card($color: $black, $bg: $white) {
    width: 100%;
    color: $color;
    background-color: $bg;
    box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.25);
    @include padding-sm(top bottom);
}

.card__container {
    @include padding-xs(top left bottom right);
    
    @include medium {
        display: inline-block;
        text-align: initial;
    }
}

.card__heading {
    @include heading-large;
    @include margin-sm(bottom);

    font-weight: bold;

    &--underline {
        text-decoration: underline;
    }
}

.card__body {
    @include paragraph;
    @include margin-sm(bottom);

    .subtext {
        @include margin-xs(top);
        @include margin-md(bottom);

        font-size: $font-small;
    }

    & .divider {
        width: 100%;
        @include margin-md(bottom);
    }

    & .divider:last-of-type {
        display: none;
    }
}

.card__cta {
    display: inline-flex;;
    flex-direction: column;
    text-align: center;

    & .button:not(:first-child) {
        @include margin-xs(top);
    }
}

.card {
    @include card;

    &--alt {
        @include card($bg: $red);

        display: inline-block;
        text-align: initial;
    
        .card__heading, .card__body {
           color: $white;
        }
    }
    
    &--outline {
        border: 2px solid $gray-lightest;
    }
}
