/*
 * General Mixins (put specific ones in component files where applicable)
*/

/* Mixin - Clearfix.
 * Adds clearfix based on http://bourbon.io/docs/#clearfix
 * use example =   @include cleafix
*/

@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

$outer-container-break: $small;

/// Mixin - Wrapper
/// Outer container mixin for large screens
@mixin wrapper(
  $container-max-width: $max-width,
  $outer-container-break: $small,
  $v-margin: 0,
  $v-padding: 0,
  $h-padding: $space,
  $h-padding-large: $h-padding
) {
  max-width: #{$container-max-width};
  width: 100%;
  margin: #{$v-margin} auto;
  padding: #{$v-padding} #{$h-padding};

  @include breakpoint($outer-container-break) {
    padding: #{$v-padding} #{$h-padding-large};
  }

  @include breakpoint($container-max-width) {
    padding-left: calc(
      #{$h-padding-large} + calc(-50vw + calc(#{$container-max-width} / 2))
    );
    padding-right: calc(
      #{$h-padding-large} + calc(-50vw + calc(#{$container-max-width} / 2))
    );
  }
}
//Mixin List Reset
@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Mixin - Margins

/** Usage Example:
  @include margin-lg (top bottom);
**/
@mixin margin-lg($side) {
  @each $side in $side {
    margin-#{$side}: 3.75rem;

    @include medium {
      margin-#{$side}: 5rem;
    }
  }
}

@mixin margin-md($side) {
  @each $side in $side {
    margin-#{$side}: 2.5rem;
  }
}

@mixin margin-sm($side) {
  @each $side in $side {
    margin-#{$side}: 1.8rem;
  }
}

@mixin margin-xs($side) {
  @each $side in $side {
    margin-#{$side}: 1.25rem;
  }
}

@mixin margin-xxs($side) {
  @each $side in $side {
    margin-#{$side}: 0.62rem;
  }
}

@mixin no-bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

// Mixin - Paddings

/** Usage Example:
  @include padding-lg (top bottom);
**/
@mixin padding-xxl($side) {
  @each $side in $side {
    padding-#{$side}: 3rem;

    @include medium {
      padding-#{$side}: 5rem;
    }
  }
}

@mixin padding-xl($side) {
  @each $side in $side {
    padding-#{$side}: 1.25rem;

    @include medium {
      padding-#{$side}: 4.3rem;
    }
  }
}

@mixin padding-lg($side) {
  @each $side in $side {
    padding-#{$side}: 3rem;
  }
}

@mixin padding-md($side) {
  @each $side in $side {
    padding-#{$side}: 1.25rem;

    @include medium {
      padding-#{$side}: 2.5rem;
    }
  }
}

@mixin padding-sm($side) {
  @each $side in $side {
    padding-#{$side}: 1.8rem;
  }
}

@mixin padding-xs($side) {
  @each $side in $side {
    padding-#{$side}: 1.25rem;
  }
}

@mixin padding-xxs($side) {
  @each $side in $side {
    padding-#{$side}: 0.625rem;
  }
}

// Mixin - Responsive Buttons
@mixin responsive-buttons {
  display: inline-flex;
  flex-direction: column;

  .button {
    &:not(:last-child) {
      @include margin-xs(bottom);
    }
  }

  @include medium {
    flex-direction: row;

    .button {
      &:not(:last-child) {
        @include margin-sm(bottom);
      }

      @include margin-xxs(right);
      @include margin-sm(bottom);
    }
  }
}

// Mixin - Paddings

/** Usage Example:
  @include padding-lg (top bottom);
**/
@mixin padding-xxl($side) {
  @each $side in $side {
    padding-#{$side}: 3rem;

    @include medium {
      padding-#{$side}: 5rem;
    }
  }
}

@mixin padding-xl($side) {
  @each $side in $side {
    padding-#{$side}: 1.25rem;

    @include medium {
      padding-#{$side}: 4.3rem;
    }
  }
}

@mixin padding-lg($side) {
  @each $side in $side {
    padding-#{$side}: 3rem;
  }
}

@mixin padding-md($side) {
  @each $side in $side {
    padding-#{$side}: 1.25rem;

    @include medium {
      padding-#{$side}: 2.5rem;
    }
  }
}

@mixin padding-sm($side) {
  @each $side in $side {
    padding-#{$side}: 1.8rem;
  }
}

@mixin padding-xs($side) {
  @each $side in $side {
    padding-#{$side}: 1.25rem;
  }
}

@mixin padding-xxs($side) {
  @each $side in $side {
    padding-#{$side}: 0.625rem;
  }
}

// Mixin - Responsive Buttons
@mixin responsive-buttons {
  display: inline-flex;
  flex-direction: column;

  .button {
    &:not(:last-child) {
      @include margin-xs(bottom);
    }
  }

  @include medium {
    flex-direction: row;

    .button {
      &:not(:last-child) {
        @include margin-sm(bottom);
      }

      @include margin-xxs(right);
      @include margin-sm(bottom);
    }
  }
}
