@mixin button(
  $bg: $white,
  $color: $red,
  $hoverBg: $red,
  $hoverColor: $white,
  $iconColor: $white,
  $iconHoverColor: $white
) {
  background-color: $bg;
  border: none;
  color: $color;
  cursor: pointer;
  line-height: 1.4;
  padding: $space-one-half 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  border-radius: 0.2rem;
  justify-content: center;

  &:visited {
    color: $color;
  }
  &:hover {
    font-weight: initial;
    text-decoration: none;
    background-color: $hoverBg;
    color: $hoverColor;

    .button__icon {
      fill: $iconHoverColor;
    }
  }

  i {
    display: flex;
    align-items: center;
  }

  i .button__icon {
    height: 0.9rem;
    width: 0.9rem;
    margin-left: 0.5rem;
    fill: $iconColor;
  }
}

.button {
  @include button;

  &--alt {
    @include button($red, $white, $red-lighter);
  }

  &--alt-red {
    @include button($white, $red, $red-lighter, $white, $red, $white);
  }

  &--outline {
    @include button($red, $red, $red, $white);

    background-color: transparent;
    border: 2px solid $red;
  }

  &--outline-alt {
    @include button($red, $white, $red-lighter, $white);

    background-color: transparent;
    border: 2px solid $white;
  }

  &--download {
    @include button($gray, $white, $red-darker, $white);
  }

  &--link {
    @include button($white, $red, $white, $red-light);

    text-decoration: underline;
  }
}
