{#
/**
 * This is strictly an exmaple file to demonstrate markup in Storybook.
 * It is not intended to be included in any other component.
 */
#}
<div class="text">
	<p class="paragraph">Paragraph with regular font-size: {{paragraph_content}}</p>
</div>
