/* Mixin - list-reset
 * Reset list item defaults when no margin, padding, list styles needed
*/
ul {
  @include list-reset;

  font-size: $font-medium;
}

.ul {
  &--bullet {
    color: $black;

    li::before {
      content: "";
      background-color: $red;
      border-radius: 50%;
      padding: 0.25rem;

      @include margin-xs(right);
    }
  }

  &--arrow {
    color: $red;
    text-decoration: underline;

    svg {
      width: 10px;
      height: 10px;
      fill: $red;

      @include margin-xs(right);
    }
  }

  a {
    font-weight: normal;
  }
}

.list-item {
  align-content: flex-start;
  align-items: baseline;
  display: flex;
}

/* TODO: BEM selectors should be applied to wysiwyg-created content */

.text-long {
  ol,
  ul {
    li {
      @extend .list-item;
    }
  }
}
